<div class="form-group">
    <label for="iterator">List of comma separated %%element%% values to loop through</label>
    <input type="text" class="form-control" id="iterator" name="iterator"
           placeholder="e.g. 0.05, 0.10, 0.15..."/>
</div>
<div class="row text-right form-group">
    <div class="btn btn-wikia" id="addPriceMap"><span class="glyphicon glyphicon-plus"
                                                      aria-hidden="true"></span> ADD PRICE MAP
    </div>
</div>
<div class="form-group hidden" id="priceMapForumGroup">
    <label for="priceMap">List of comma separated %%priceMapElement%% that matches %%element%% (useful for encoded bidId like in Amazon A9)</label>
    <input type="text" class="form-control" id="priceMap" name="priceMap"
           placeholder="e.g. asd, foo, bar, baz"/>
</div>
<hr/>
<div class="form-group">
    <label for="lineItemName">Line item name</label>
    <input type="text" class="form-control" id="lineItemName" name="lineItemName"
           placeholder="e.g. PartnerFoo LB %%element%% USD"/>
</div>
<div class="form-group">
    <label for="sizes">Size(s)</label>
    <input type="text" class="form-control" id="sizes" name="sizes"
           placeholder="e.g. 728x90, 300x250"/>
</div>
<div class="form-group">
    <label>
        <input type="checkbox" id="sameAdvertiser" name="sameAdvertiser"/>
        Allow same advertiser exception
    </label>
</div>
<hr/>
<div class="form-group">
    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" name="type">
            <option value="SPONSORSHIP">Sponsorship</option>
            <option value="STANDARD">Standard</option>
            <option value="NETWORK">Network</option>
            <option value="PRICE_PRIORITY" selected>Price priority</option>
            <option value="HOUSE">House</option>
        </select>
    </div>
    <div class="form-group type-level" style="display: none;">
        <select class="form-control" id="typeLevel" name="typeLevel">
            <option value="HIGH">High</option>
            <option value="NORMAL" selected>Normal</option>
            <option value="LOW">Low</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="priority" placeholder="Priority" name="priority"/>
    </div>
</div>
<div class="form-group">
    <label for="start">Start time (UTC)</label>
    <input type="text" class="form-control" id="start" name="start"
           placeholder="Leave empty for immediately run"/>
</div>
<div class="form-group">
    <label for="start">End time (UTC)</label>
    <input type="text" class="form-control" id="end" name="end"
           placeholder="Leave empty for unlimited"/>
</div>
<div class="form-group">
    <label for="rate">Rate (USD CPM)</label>
    <input type="text" class="form-control" id="rate" name="rate"
           placeholder="e.g. 9.00 or %%element%%"/>
    <input type="checkbox" name="cents" id="cents"/>
    <label for="cents">Rate in cents</label>

</div>
<hr/>
<div class="form-group">
    <label>Key-values</label>
</div>
<div class="form-group key-value-pairs">
    <div class="row text-right form-group add-pair-container">
        <div class="btn btn-wikia add-pair"><span class="glyphicon glyphicon-plus"
                                                  aria-hidden="true"></span> ADD PAIR
        </div>
    </div>
</div>

<script id="pair-template" type="text/template">
    <div class="row key-value-pair">
        <div class="form-group col-xs-4">
            <input type="text" class="form-control key" name="keys[]" placeholder="e.g. src"/>
        </div>
        <div class="form-group col-xs-2">
            <select class="form-control operator" name="operators[]">
                <option value="IS" selected>is</option>
                <option value="IS_NOT">is not</option>
            </select>
        </div>
        <div class="form-group col-xs-5">
            <input type="text" class="form-control value" name="values[]" placeholder="e.g. gpt, mobile"/>
        </div>
        <div class="col-xs-1">
            <div class="btn btn-wikia remove-pair"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</script>
