<!DOCTYPE html>
<html lang="en">
	<head>
		<title>DFP-Tableau web data connector</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<style>
			.btn-wikia {
				background: none;
				border-radius: 1px;
				color: #00b7e0;
				font-size: 0.9em;
				font-weight: 500;
				margin-left: 8px;
				padding: 7px 12px;
			}

			.btn-wikia:hover, .btn-wikia:focus, .btn-wikia:active {
				background: #09d3bf;
				color: #ffffff;
			}

			#filter-add {
				float: right;
				font-size: 0.7em;
				margin-top: -10px;
				margin-right: 15px;
			}

			.navbar-inverse .navbar-brand:hover {
				color: #9d9d9d;
			}

			.form-control {
				border-radius: 1px;
				font-size: 0.9em;
			}

			.has-error {
				border-color: #a94442;
			}

			.report-group {
				display: flex;
				flex: 1 0 auto;
			}

			.tabs-group {
				width: 100%;
			}

			.tabs-group > li > a {
				border-radius: 1px 1px 0 0;
				color: #a1a1a1;
				font-size: 0.9em;
				font-weight: 500;
				padding: 8px 15px;
			}

			.tab-content {
				padding: 18px 12px;
			}

			.filter {
				margin-top: 4px;
			}

			.filter-remove {
				float: right;
			}

			.checkbox {
				padding: 8px 0;
			}

			.checkbox label {
				width: 100%;
			}

			.checkbox.active {
				background: #eee;
			}

			.checkbox.active label {
				font-weight: 700;
			}

			.checkbox input {
				display: none;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-static-top navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<div class="navbar-brand">
						DFP connector
					</div>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<ul class="nav nav-tabs tabs-group" role="tablist">
						<li role="presentation" class="active">
							<a href="#query" aria-controls="query" role="tab" data-toggle="tab">
								Query builder
							</a>
						</li>
						<li role="presentation">
							<a href="#report" aria-controls="report" role="tab" data-toggle="tab">
								Existing report
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active row" id="query">
					<form id="query-form">
						<div class="container">
							<div class="row">
								<div class="col-md-6 query-group">
									<h4>
										Filters:
										<div id="filter-add" class="btn btn-wikia">ADD</div>
									</h4>
									<div class="col-sm-12 form-group form-inline form-filters"></div>
								</div>
								<div class="col-md-6 query-group">
									<h4>Date range:</h4>
									<div class="col-sm-12 form-group">
										<input id="startDate"
											   name="startDate"
											   class="form-control"
											   type="date" />
									</div>
									<div class="col-sm-12 form-group">
										<input id="endDate"
											   name="endDate"
											   class="form-control"
											   type="date" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 query-group">
									<h4>Dimensions:</h4>
									<div class="col-sm-12">
										<div class="checkbox">
											<label>
												<input name="dimensions[]"
													   checked="checked"
													   value="adUnitName"
													   type="checkbox" />
												Ad Unit name
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="dimensions[]"
													   value="country"
													   type="checkbox" />
												Country
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="dimensions[]"
													   value="creativeId"
													   type="checkbox" />
												Creative ID
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="dimensions[]"
													   value="creativeName"
													   type="checkbox" />
												Creative name
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="dimensions[]"
													   value="creativeSize"
													   type="checkbox" />
												Creative size
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="dimensions[]"
													   value="date"
													   type="checkbox" />
												Date
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="dimensions[]"
													   value="deviceCategory"
													   type="checkbox" />
												Device category
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="dimensions[]"
													   value="keyValues"
													   type="checkbox" />
												Key-values
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="dimensions[]"
													   value="lineItemId"
													   type="checkbox" />
												Line item ID
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="dimensions[]"
													   value="lineItemName"
													   type="checkbox" />
												Line item name
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="dimensions[]"
													   value="orderId"
													   type="checkbox" />
												Order ID
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="dimensions[]"
													   value="orderName"
													   type="checkbox" />
												Order name
											</label>
										</div>
									</div>
								</div>
								<div class="col-md-6 query-group">
									<h4>Metrics:</h4>
									<div class="col-sm-12">
										<div class="checkbox">
											<label>
												<input name="metrics[]"
													   checked="checked"
													   value="totalActiveViewEligibleImpressions"
													   type="checkbox" />
												Total Active View eligible impressions
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="metrics[]"
													   checked="checked"
													   value="totalActiveViewMeasurableImpressions"
													   type="checkbox" />
												Total Active View measurable impressions
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="metrics[]"
													   checked="checked"
													   value="totalActiveViewViewableImpressions"
													   type="checkbox" />
												Total Active View viewable impressions
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="metrics[]"
													   checked="checked"
													   value="totalActiveViewMeasurableImpressionsRate"
													   type="checkbox" />
												Total Active View % measurable impressions
											</label>
										</div>
										<div class="checkbox">
											<label>
												<input name="metrics[]"
													   checked="checked"
													   value="totalActiveViewViewableImpressionsRate"
													   type="checkbox" />
												Total Active View % viewable impressions
											</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 text-right">
										<div id="query-submit" class="btn btn-wikia">SUBMIT</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div role="tabpanel" class="tab-pane row" id="report">
					<div class="container">
						<div class="row">
							<div class="col-sm-offset-4 col-sm-4 report-group form-inline">
								<input id="report-id"
									   class="form-control report-id-input"
									   placeholder="DFP report ID"
									   type="text" />
								<div id="report-submit"
									 class="btn btn-wikia">SUBMIT</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="debug"></div>
		</div>
		<script src="https://connectors.tableau.com/libs/tableauwdc-1.1.1.js" type="text/javascript"></script>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
		<script id="filter-template" type="text/template">
			<div class="filter">
				<select name="filterTypes[]"
						class="form-control">
					<option value="adUnitName">Ad Unit name</option>
					<option value="country">Country</option>
					<option value="creativeId">Creative ID</option>
					<option value="creativeName">Creative name</option>
					<option value="deviceCategory">Device category</option>
					<option value="linteItemId">Line item ID</option>
					<option value="linteItemName">Line item name</option>
					<option value="orderId">Order ID</option>
					<option value="orderName">Order name</option>
				</select>
				<select name="filterOperators[]"
						class="form-control">
					<option value="is">is</option>
				</select>
				<input name="filterValues[]"
					   class="form-control"
					   value=""
					   type="text" />
				<div class="btn btn-wikia filter-remove">REMOVE</div>
			</div>
		</script>
		<script>
			window.typesMap = {
				TOTAL_ACTIVE_VIEW_VIEWABLE_IMPRESSIONS: 'int',
				TOTAL_ACTIVE_VIEW_MEASURABLE_IMPRESSIONS: 'int',
				TOTAL_ACTIVE_VIEW_VIEWABLE_IMPRESSIONS_RATE: 'int',
				TOTAL_ACTIVE_VIEW_ELIGIBLE_IMPRESSIONS: 'int',
				TOTAL_ACTIVE_VIEW_MEASURABLE_IMPRESSIONS_RATE: 'int',
				CREATIVE_ID: 'int',
				LINE_ITEM_ID: 'int',
				ORDER_ID: 'int',
				DATE: 'date'
			};
		</script>
		<script type="text/javascript">
			(function() {
				var connector = tableau.makeConnector(),
					response;

				function getResponse(data) {
					var fieldColumns = [],
						fieldTypes = [];

					response = data;
					Object.keys(response[0]).forEach(function (key) {
						fieldColumns.push(key);
						fieldTypes.push(typesMap[key] || 'string');
					});

					tableau.headersCallback(fieldColumns, fieldTypes);
				}

				connector.getColumnHeaders = function() {

					var data = JSON.parse(tableau.connectionData);

					if (data.reportId) {
						$.get('api/reports/' + data.reportId, function (data) {
							getResponse(data);
						});
					}

					if (data.queryData) {
						$.post('api/query', data.queryData, function (data) {
							getResponse(data);
						});
					}
				};

				connector.getTableData = function(lastRecordToken) {
					tableau.dataCallback(response, lastRecordToken, false);
				};

				tableau.registerConnector(connector);

				$('#report-submit').on('click', function () {
					var reportId = $('#report-id').val();

					if (reportId === '') {
						$('#report-id').addClass('has-error');
						return;
					}

					tableau.connectionData = JSON.stringify({
						reportId: reportId
					});
					tableau.submit();
				});

				$('#query-submit').on('click', function () {
					tableau.connectionData = JSON.stringify({
						queryData: $('#query-form').serialize()
					});
					tableau.connectionName = 'DFP Query';
					tableau.submit();
				});
			})();

			$(document).ready(function () {
				$('.tabs-group').click(function (e) {
					e.preventDefault();
					$(this).tab('show')
				});

				$('#startDate').val('2016-06-07');
				$('#endDate').val('2016-06-09');

				$('#filter-add').on('click', function () {
					$('.form-filters').append($('#filter-template').html());
				});
				$('.form-filters').append($('#filter-template').html());

				$('.form-filters').on('click', '.filter-remove', function () {
					$(this).parent().remove();
				});

				$('#query-form').on('click', '.checkbox', function () {
					var checkbox = $(this).find('input');

					if (checkbox.prop('checked')) {
						$(this).addClass('active');
					} else {
						$(this).removeClass('active');
					}
				});

				$('.checkbox input').each(function () {
					if ($(this).prop('checked')) {
						$(this).parent().parent().addClass('active');
					}
				});
			});

		</script>
	</body>
</html>